-i https://pypi.org/simple
click==8.1.8; python_version >= '3.7'
dotenv==0.9.9
joblib==1.4.2; python_version >= '3.8'
nltk==3.9.1; python_version >= '3.8'
psycopg2==2.9.10; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
regex==2024.11.6; python_version >= '3.8'
tqdm==4.67.1; python_version >= '3.7'
